.tableContent {
	@apply pt-5  lg:py-6 w-full border-b  bg-white;

	&--items {
		@apply 
			grid
			lg:flex
			items-center
			gap-y-2
			gap-x-4
			text-sm
			font-medium
			lg:gap-x-24
			lg:px-8
			pl-6
			text-left
			lg:text-start;

			grid-template-columns: 1fr 100px;

		.date,
		.buy {
			@apply text-xs
				text-gray-500
				lg:flex-none
				lg:w-[7.5rem]
				lg:text-sm
				lg:text-gray-900
				text-left;
		}

		.buy {
			@apply text-gray-500  lg:text-left;
		}

		.date {
			@apply lg:text-center lg:py-2.5 lg:rounded-[.25rem] lg:bg-orange-50 text-orange-400;
		}

		.coin {
			@apply flex items-center gap-4 lg:order-first;
			p {
				@apply text-sm text-slate-900;
			}
		}

		.tid {
			@apply lg:w-[7rem];

			&.counter {
				@apply lg:text-left text-sm lg:w-[7rem];;

			}

		}

		.status {
			@apply 
				flex
				w-full
				items-center
				lg:justify-center
				lg:flex-none
				lg:w-[8rem];

				&.sell{
					@apply font-bold text-green-500 lg:bg-teal-50 rounded py-2;
				}
				&.buy{
					@apply font-bold text-sky-500 lg:bg-sky-50 rounded py-2;
				}
			}
		}
	}