.crytoSelect{
    @apply relative w-full text-left;

	label {
		@apply block mb-2 text-sm font-normal text-gray-700;
	}

	span {
		@apply block py-1 text-base font-bold text-gray-700;
	}

    .btn{
        @apply rounded justify-between items-center h-14 bg-gray-100 flex w-full py-3 px-5 text-base font-semibold lg:inline-flex ;
    }

	&__content{
		@apply absolute mt-3 p-3 overflow-y-auto shadow-xl max-h-72  w-full bg-gray-50 rounded-md z-10;

		&::-webkit-scrollbar {
			@apply w-2 bg-transparent;

			&-track {
				@apply bg-neutral-100 rounded;
			}

			&-thumb {
				@apply bg-gray-200 rounded;
			}
		}

		p{
			@apply text-sm text-slate-500;
		}

		&--options{
			@apply mb-3 p-1 hover:bg-slate-100 hover:rounded cursor-pointer;
		}
	}

	.selectHide {
		display: none;
	  }

	&__icon {
		transition: transform 0.2s;
	
		&--rotate-180 {
		  transform: rotate(180deg);
		}
	}
}